[Unit]
Description=RetroArch MITM Server
After=network.target

[Service]
ExecStart=/home/lobby/netplay-mitm-server/mitm -m
KillMode=process
Restart=always
RestartSec=5
Type=simple
User=lobby
Group=lobby

[Install]
WantedBy=multi-user.target
